body {
  padding: 0;
  margin: 0;
  font-family: 'Anton', sans-serif;
  color: black;
  font-size: 16px;
  text-emphasis: uppercase;
}
h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
ul,li {
  display: block;
  margin: 0;
  padding: 0;
}
h1 {
  color: green;
}
.box {
  width: 100px;
  height: 100px;
  background: red;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.header {
  background: url("../img/header-bg.jpg") no-repeat center top;
  padding-top: 57px;
  color: fff;
}
.header a {
  color: #fff;
}
.logo {
  margin-right: 69px;
}
.menu {
  display: flex;
}
.menu li {
    margin: 0 40px 0 0;
}
.menu li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.1em;
}
.tel  {
  font-size: 17px;
  text-decoration: none;
  margin-left: auto;
  letter-spacing: 0.1em;
}
.nav {
  display: flex;
  align-items: center;
  padding-top: 57px;
}
.offer {
  text-transform: uppercase;
}
.offer p{
  font-size: 30px;
}
.offer h1 {
  font-size: 100px;
  margin-bottom: 0.em;
  margin-top: -9px;
  letter-spacing: 0.07em;
}
.btn {
  display: block;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 17px 47px;
  border: 1px solid #fff;
}